@CHARSET "UTF-8";

body
{
	margin: auto;
}

#header
{
	text-align: center;
    width: 100%;
	height: 120px;
	padding: 1px 0;
	
    border-bottom: 2px solid #000;
	background-color: #E6E6E6;
	
	/* OMBRE */
	box-shadow: 0px 0px 20px black;
		-moz-box-shadow: 0px 0px 20px black;
		-webkit-box-shadow: 0px 0px 20px black;
		-khtml-box-shadow: 0px 0px 20px black;
	
}

#top_center
{
	text-align: center;
	margin: auto;
	display: inline-block;
}
#top_left
{
	left:15px;
	top:15px;
	position:absolute;
}
#top_right
{
	top: 30px;
	right: 40px;
	position:absolute;
}
#connect
{
	margin-top: 10px;
	padding: 10px 0px 10px 0px;
	background-color: grey;
	border: 1px solid black;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
}
#connect a
{
	padding: 10px 25px 10px 25px;
	margin: none;
	color: black;
    text-decoration: none;
    
    font-family: Tahoma;
}

#top_center a
{
	color: black;
    text-decoration: none;
}
#top_center a:hover
{
	text-shadow: 0px 0px 20px black;
}

div#content
{
	width: 80%;
	margin: 50px auto;
    text-align: center;
}

div#content > *
{
    /* text-align: left; */
}

#element
{
	margin: auto;
	display: inline-block;
}

#edit
{
	width: 330px;
}

#rules
{
	text-align: default;
}

fieldset
{
	background-color: #F4F4F4;
}

ul
{
	text-align: left;
}

form
{
	display: inline-block;
}
table
{
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
    padding: 7px;
}
tr
{
	background-color: #F4F4F4;
}

#form td
{
    border: none;
    text-align: left;
}
